.nav-main {
    display: flex;
    color: white;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.header__alarm {
    position: absolute;
    left: 0%;
    height: 155%;
    top: -18%;
}

.heaer__coin {
    position: absolute;
    left: 8.2%;
    top: 38%;
    height: 50%;
}

.header__cube {
    position: absolute;
    right: -8%;
    height: 16vh;
    width: 16vh;
    top: 20%;
}