.nav-main {
    display: flex;
    color: white;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.header__alarm {
    position: absolute;
    left: 0%;
    height: 155%;
    top: -18%;
}

.heaer__coin {
    position: absolute;
    left: 10%;
    top: 46%;
    height: 36%;
}

.header__cube-rotates {
    position: absolute;
    right: -69px;
    top: 62px;
    height: 100px;
}

.header__cube {
    position: absolute;
    right: -147px;
    height: 256px;
    width: 256px;
    top: -17px;
}

.header__cactus {
    position: absolute;
    top: 18px;
    z-index: 2;
    left: 88px;
    cursor: pointer;
    height: 46px;
}

.header__cactus-gif {
    position: absolute;
    left: 60px;
    right: 0;
    margin: auto;
    width: 1200px;
    top: 11px;
    z-index: 10;
}

header {
    width: 1200px;
    margin: auto;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 11;
    +div {
        top: 185px;
        position: relative;
        margin-top: 0;
    }
}

.header__butterfly {
    position: absolute;
    right: -85px;
    top: 70px;
    transform: rotate(-145deg);
    animation: butterfly 8s 1 linear forwards ;
}

@keyframes butterfly{
    0%   { top:   70px; right: -85px; transform: rotate(-145deg); }
    8%   { top:  140px; right:   0px; transform: rotate(-130deg); }
    16%  { top:  200px; right:  85px; transform: rotate(-115deg); }
    24%  { top:  250px; right: 170px; transform: rotate(-100deg); }
    32%  { top:  260px; right: 255px; transform: rotate( -90deg); }
    40%  { top:  250px; right: 340px; transform: rotate( -80deg); }
    48%  { top:  200px; right: 425px; transform: rotate( -65deg); }
    56%  { top:  140px; right: 510px; transform: rotate( -50deg); }
    64%  { top:   70px; right: 595px; transform: rotate( -35deg); }
    72%  { top:    0px; right: 680px; }
    80%  { top:  -70px; right: 765px; }
    88%  { top: -140px; right: 850px; }

    100% { top: -210px; right: 850px; display: none; transform: rotate( -35deg);}
}
